<mat-card class="container">
    <h2>Welcome to dashboard !</h2>
    <p>The purpose of developing this website is to provide users with a user-friendly interface to access and manipulate a list of items stored in Firestore. 
    This list will contain at least six items and offer advanced functionality, including sorting, searching, and filtering based on specific data points. The website will also remember the state of applied filters when users navigate away from the page and return.</p>
</mat-card>

